.NavBar {
  padding: 1em;
  box-shadow: 0px 0px 10px #a8a8a8;
  background-color: white;
  display: flex;
  justify-content: center;
  > :nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 1080px;
    > :nth-child(1) {
      font-family: "Microsoft YaHei", "微软雅黑", "MicrosoftJhengHei",
        "华文细黑", "STHeiti", "MingLiu", "Segoe UI", Tahoma, "Geneva", Verdana,
        sans-serif;
      font-size: 1.5em;
      font-weight: bold;
      // | 分割线
      > :nth-child(2) {
        margin: 0 0.5em;
      }
    }
    > :nth-child(2) {
      display: flex;
    }
  }
}

.PopoverBtnList {
  > div {
    cursor: pointer;
    padding: 2px 8px;
  }
  > div:hover {
    background-color: #f0f3ef;
  }
}
