.App {
  width: 100vw;
  height: 100vh;
  overflow: auto;

  .Ready {
    padding: 1em;
  }

  .Play {
    padding: 1em;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .End {
    padding: 1em;
    width: 100vw;
    height: 100vh; 
    overflow: auto; 
  }
}
