.Course {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  >div {
    max-width: calc(1080px + 2em);
    height: 100%;
    width: 100%;
    display:flex;
    
  }
}